
/*
.hbox {
    display: flex;
    flex-direction: row;
}

.vbox {
    display: flex;
    flex-direction: column;
}

*/

.hbox{
    display: box;
    box-orient: horizontal;
    
    display: -moz-box;
    -moz-box-orient:horizontal;
    
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
.flex1 {
    box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}

.item-info
{

}
.item-label
{
    display:flex;
    align-items:center;
}
div.item-thumb
{
    width: 80pt;
    max-height: 80pt;
    margin-right: 10pt;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img.item-thumb
{
    max-width: 80pt;
    max-height: 80pt;
}

.detailImageContainer {
    position: relative;
    display: flex;
    flex: 1;
    /*
    overflow-y: scroll;
    width: 100%;
    */
}

/* jquerymobile 1.3.2 */
/*
a.rateItem.active-rating span.ui-btn-inner
{
    background-color: yellow;
}

a.hud-imageRating.active-rating span.ui-btn-inner
{
    background-color: yellow;
}
*/
a.active-rating::after
{
    background-color: yellow;
}

a.hud-imageRating.active-rating::after
{
    background-color: yellow;
}
/*ui-navbar*/
.navbar-horizontal {
    display: flex;
    flex-direction: row;
}

.detailImageHolder {
    /*
    overflow-y: scroll;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    */
    flex: 1;
}
.fitImageContainer {
    position:relative;
    display:flex;
    flex: 1;
}

.fitImageHolder {
    flex: 1;
}
img.fitImage {
    object-fit: contain;
    max-width: 100%;
}

div#itemView {
    display:flex;
    flex-direction: column;
}
/* specify so takes full space*/
div#imageEditPage {
    display:flex;
    flex-direction: column;
}

#mycontent {
    display: flex;
    flex: 1;
    overflow-y: hidden;
}

.detailImage {
    object-fit: contain;
    max-width: 100%;
}
.detailImageHUD {
    position:absolute;
    top:0px;
    background-color:white; 
    opacity:0.5    
}
.detailImageRating
{
    display: flex;
    flex-grow: 0;
    user-select: none;
}
#ratingPopup {
    display: flex;
}

img#imageEdit
{
    width: 100%;
    display: block;
}

.ui-icon-phototime-crop:after {
	background-image: url("assets/crop.svg");
    background-size: contain;
}

.ui-icon-phototime-aspect-select:after {
	background-image: url("assets/aspect-select.svg");
    background-size: contain;
}