
.hbox 
{
    display: box;
    box-orient: horizontal;
    
    display: -moz-box;
    -moz-box-orient:horizontal;
    
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

.flex1 
{
    box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}

.item-info
{

}

.item-label
{
    display:flex;
    align-items:center;
}

div.item-thumb
{
    width: 80pt;
    max-height: 80pt;
    margin-right: 10pt;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.item-thumb > img
{
    max-width: 80pt;
    max-height: 80pt;
}

img.item-thumb
{
    max-width: 80pt;
    max-height: 80pt;
}

.detailImageContainer {
    position: relative;
    display: flex;
    flex: 1;
    /*
    overflow-y: scroll;
    width: 100%;
    */
}

/*ui-navbar*/
.navbar-horizontal {
    display: flex;
    flex-direction: row;
}

.detailImageHolder {
    /*
    overflow-y: scroll;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    */
    flex: 1;
}

.fitImageContainer {
    position:relative;
    display:flex;
    flex: 1;
}

.fitImageHolder {
    flex: 1;
}

img.fitImage {
    object-fit: contain;
    max-width: 100%;
}

div#itemView {
    display:flex;
    flex-direction: column;
}

#mycontent 
{
    display: flex;
    flex: 1;
    overflow-y: hidden;
}


.navbar-horizontal {
    display: flex;
    align-items: center;
}
